{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<main class="form-signin">
<div class="form-group">
<form method="post">
  {% csrf_token %}
  <img class="mb-4" src="/static/assets/img/CLEANQUOTZ-01.png" alt="Logo" width="200" height="30">
    <h1 class="h3 mb-3 fw-normal">Please Login</h1>
  <div class="form-floating" >

    <input type="text" class="form-control" name="username" placeholder="Username" id="floatingInput">

  </div>


  <div class="form-floating">

      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">

    </div>

</div>

<button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
</form>
    {% for message in messages %}
    </br>
    <p style="color:red">{{message}}</p>
    {% endfor %}
  <center><p>Not a Member?    <a href="{% url 'accounts:signup' %}">Signup</a> Here.</br>Or Back to <a href="{% url 'home:index' %}">Home</a></p></center>
</div>
</main>
{% endblock %}