{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<main class="form-signin">

<div class="form-group">



<form method="post">
    {% csrf_token %}

  <img class="mb-4" src="/static/assets/img/CLEANQUOTZ-01.png" alt="Logo" width="200" height="30">
    <h1 class="h3 mb-3 fw-normal">Please Signup Here</h1>

 <div class="form-floating" >
    <input type="email" class="form-control" name="email" placeholder="Email">
  </div>


 <div class="form-floating" >

    <input type="text" class="form-control" name="username" placeholder="Username" id="floatingInput">

  </div>

  <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword1" placeholder="Password" name="password1">

    <ul>
      <li>Your password can’t be too similar to your other personal information.</li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>Your password can’t be entirely numeric.</li>
    </ul>
    </div>

  <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword2" placeholder="Confirm Password" name="password2">

    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
  </form>
    <p style="color: red;">{{form.errors}}</p>
  <center><p>Already a Member? <a href="{% url 'accounts:login' %}">Login</a> Here. </br>Or Back to <a href="{% url 'home:index' %}">Home</a></p></center>
</div>
</main>
{% endblock %}